{
    # Disables automatic port 80 HTTP-to-HTTPS redirect listeners
    auto_https disable_redirects
}

localhost:8443, 192.168.31.5:8443 {
    tls internal {
        # Enforce TLS 1.3
        protocols tls1.3
    }

    # Pass all requests to Laravel (artisan serve)
    reverse_proxy 127.0.0.1:8000 {
        # Pass original request headers to Laravel
        header_up Host {header.X-Forwarded-Host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Port 8443
        header_up X-Forwarded-Proto https
    }
}